@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: hwb(165 31% 45%);
  --oring: #f0bb62;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 26px;
}
h6 {
  font-size: 18px;
}

#featured_cont{
  padding: 16vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

#featured {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
}

#featured #best{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#featured #best h4{
  font-size: 1.5vw;
}

#featured #best p{
  font-size: 0.85vw;
}

#featured #best i{
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  margin-top: 24px;
  width: fit-content;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: 0.2s;
  font-size: 1vw;
}

#featured #best i:hover{
  box-shadow: 5px 5px 10px rgb(34, 34, 34,0.15);
  background-color: var(--black);
}

@media screen and (max-width:992px) {
  
  #featured{
    flex-direction: column;
  }

  #card{
    background-color: rgb(221, 221, 221,0.35);
    width: 80%;
    padding: 24px 0;
  }

  #card > h6{
    bottom: 1vw;
  }

  #act{
    top: 1vw;
  }
}

@media screen and (max-width:392px) {
  #best a, #best h4 {
    text-align: center;
  }

  #featured #best h4 {
    font-size: 6vw;
  }

  #featured #best p{
    font-size: 4vw;
    text-align: center;
  }

  #featured #best i{
    margin: 0;
  }
}