@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: hwb(165 31% 45%);
  --oring: #f0bb62;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 26px;
}
h6 {
  font-size: 18px;
}

#featured_cont{
  padding: 16vh 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

#featured_cont span{
  color: var(--oring);
}

#featured {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

#featured h4 {
  transform: rotate(270deg);
}
