.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  /* background-image: url("https://hmp.me/d4p8"); */
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #91e876;
  background: #f6dbfc;
}

input {
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
}

.actions {
  text-align: center;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.actions button {
  padding: 4px 0;
}

#loginImage {
  width: 40vw;
}

#flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 10vw;
}

.Card_card__Ew\+-P {
  width: 35%;
  height: fit-content;
  padding: 2vw;
}

#login_inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  position: relative;
}

#form {
  display: flex;
  gap: 1rem;
}

#signup {
  color: blue;
  cursor: pointer;
  padding-top: 12px;
}

#mess {
  color: red;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
