@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: hwb(165 31% 45%);
  --oring: #f0bb62;
  --liteOring: #ffe6c7;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#new_product_cont {
  background-color: var(--liteOring);
  padding: 5rem 0px 5rem 80px;
  display: flex;
  gap: 8rem;
  align-items: center;
  position: relative;
}

#new_product_cont img {
  width: 36vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

#product_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#product_info span {
  color: var(--oring);
}

#product_info h2 {
  color: var(--black);
  font-size: 2.5vw;
}

#product_info p {
  line-height: 2rem;
  color: #444;
  width: 55%;
  font-size: 1vw;
}

#product_info h6 {
  padding-top: 2rem;
  border-bottom: 3px solid #E86A33;
  width: fit-content;
  padding-bottom: 2px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width:392px) {
  #new_product_cont img {
    display: none;
  }

  #new_product_cont{
    padding: 24px;
    justify-content: center;
  }

  #product_info p,#product_info h6{
    width: 100%;
    text-align: center;
  }

  #product_info h6{
    font-size: 6vw;
  }

  #product_info h2{
    font-size: 8vw;
    width: 100%;
    text-align: center;
  }
}
