@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: hwb(165 31% 45%);
  --oring: #f0bb62;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 26px;
}
h6 {
  font-size: 18px;
}

#card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  height: 24vw;
  position: relative;
  transition: 0.3s;
  width: 24%;
}

#card:nth-child(2) {
  background-color: rgb(221, 221, 221, 0.35);
}

#card:hover {
  box-shadow: 10px 10px 10px #999;
}

#qun {
  position: absolute;
  bottom: 8px;
  color: var(--green);
  width: 20%;
}

#card h6 {
  font-size: 18px;
  margin-bottom: 10px;
}

#card img {
  width: 80%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

#card:hover {
  background-color: rgb(221, 221, 221, 0.35);
}

#act {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 0.5vw;
}

#act i {
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  width: fit-content;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: 0.2s;
}

#act i:hover {
  background-color: var(--black);
  color: var(--white);
}

#card input[type="number"] {
  width: 80px;
  padding: 4px 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #card {
    flex-direction: row;
    align-items: flex-start;
  }

  #card img {
    margin-right: 10px;
  }

  #card h6 {
    font-size: 18px;
  }

  #card input[type="number"] {
    width: 70px;
  }
}
