@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: rgb(30, 131, 104);
  --oring: #f0bb62;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 26px;
}
h6 {
  font-size: 18px;
}

#service_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16vh 90px;
  gap: 6rem;
}

#service_cont h2 {
  font-size: 2.5vw;
}

#service {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

#box {
  padding: 3vw;
  width: 25%;
  border: 1px solid rgb(240, 187, 98, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: 0.3s;
  height: fit-content;
  position: relative;
}

#box p {
  font-size: 12px;
  text-align: center;
  color: var(--liteBlack);
}

#box a {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 12px;
}

#box span:hover {
  border-bottom: 1px solid #888;
}

#box h6 {
  color: var(--liteGreen);
  white-space: nowrap;
}

#box img {
  width: 8vw;
}

#service_cont span {
  color: var(--oring);
}


@media screen and (max-width:992px) {
  #service_cont h2 {
    font-size: 4vw;
  }
}

@media screen and (max-width:392px) {
  #service_cont h2 {
    font-size: 8vw;
  }

  #box img {
    width: 32vw;
  }

  #service_cont{
    padding: 24px;
  }

  #box {
    width: 100%;
  }

  #service_cont{
    gap: 3rem;
  }
}