:root {
    --green: #064635;
    --liteGreen: rgb(30, 131, 104);
    --oring: #f0bb62;
    --black: #222;
    --white: #fff;
    --liteBlack: #666;
  }

  #addProductCont{
    display: flex;
    padding: 40px 80px;
    gap: 6rem;
  }

  
  #addProductCont img{
    width: 48vw;
    height: 48vw;
  }

  .about-container  .form-group input, .about-container  .form-group textarea, .about-container  .form-group select  {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--liteBlack);
    border-radius: 5px;
    font-size: 16px;
    color: var(--black);
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    color: var(--black);
  }
  
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 12px 20px;
    background-color: var(--oring);
    color: var(--black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .product-item {
    border: 1px solid var(--green);
    padding: 20px;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 10px 15px 15px rgba(6, 70, 53, 0.2);
    transition: box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    box-shadow: 10px 15px 15px rgba(6, 70, 53, 0.3);
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--black);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-item p {
    margin-bottom: 5px;
    color: var(--liteBlack);
    font-size: 14px;
  }
  
  .product-item p:first-child {
    font-weight: bold;
  }