@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

:root {
  --green: #064635;
  --liteGreen: rgb(30, 131, 104);
  --oring: #f0bb62;
  --black: #222;
  --white: #fff;
  --liteBlack: #666;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--green);
}

h1{
    font-size: 56px;
    color: var(--green);
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}
h2{
    font-size: 46px;
    color: var(--green);
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}
h3{
    font-size: 36px;
    color: var(--green);
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}
h4{
    font-size: 26px;
    color: var(--green);
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}
h6{
    font-size: 18px;
    color: var(--green);
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}

p{
    text-shadow: 5px 10px 10px rgb(0, 0, 0,0.06);
}

::selection{
    background-color: var(--oring);
}